<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">

	<title>MVC With Burgers</title>
	<script src="/assets/js/burgers.js"></script>
</head>

<style>
	h1 {
		display: flex;
		align-content: center;
		justify-content: center;
		justify-items: center;
	}

	.burgerImg {
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 15px;
		width: 10%;

	}

	.sections {
		width: 500px;
		border: 3px solid #73AD21;
		padding: 10px;
	}

	.flex-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		align-content: center;
		height: 200px;
	}
</style>

<body>
	{{{ body }}}
</body>

</html>