<img src='/assets/img/burger2.png'>
<h1>Burger Cravings Tracker</h1>

{{!-- container for all devoured burgers/loops through burgers and looking for devoured = true --}}
<div id='status-sections'>
    <div class='undevoured'>
        <h2>Want to eat:</h2>
        <ol>
            {{#each burgers}}
            {{#unless devoured}}
            {{> burgers/burger-block devoured=false}}
            {{/unless}}
            {{/each}}
        </ol>
    </div>

    {{!-- container for all devoured burgers/loops through burgers and looking for devoured = true --}}
    <div class='devoured'>
        <h2>Already ate:</h2>
        <ol>
            {{#each burgers}}
            {{#if devoured}}
            {{> burgers/burger-block devoured=true}}
            {{/if}}
            {{/each}}
        </ol>
    </div>
</div>

{{!-- form for adding new burgers --}}
<div id='add-section'>
    <form id="create-form">
        <div class="form-group">
            <h2>New craving:</h2>
            <label for="bur">Burger name:</label>
            <input type="text" id="bur" name="burger">
            <button type="submit">Add it!</button>
        </div>
    </form>
</div>