<div class='top'>
    <h1>Track your status on devouring tasty burgers!</h1>

    <img src='/assets/img/burger2.png' class='burgerImg'></img>
</div>

{{!-- container for all undevoured burgers/loops through burgers and looking for devoured = false --}}
<div class='flex-container'>
    <div class='sections undevoured'>
        <h2>Plan to devour:</h2>
        <ol>
            {{#each burgers}}
            {{#unless devoured}}
            {{> burgers/burger-block devoured=false}}
            {{/unless}}
            {{/each}}
        </ol>
    </div>

    {{!-- container for all devoured burgers/loops through burgers and looking for devoured = true --}}
    <div class='sections devoured'>
        <h2>Already devoured:</h2>
        <ol>
            {{#each burgers}}
            {{#if devoured}}
            {{> burgers/burger-block devoured=true}}
            {{/if}}
            {{/each}}
        </ol>
    </div>

    {{!-- form for adding new burgers --}}
    <div class='sections add'>
        <h2>Add a new burger to the plan:</h2>
        <form id="create-form">

            <div class="form-group">
                <label for="bur">Burger name:</label>
                <input type="text" id="bur" name="burger">
                <button type="submit">Add burger</button>
            </div>

            {{!-- <button type="submit">Add burger</button> --}}
        </form>
    </div>
    <footer><a href="http://verusgroup.com/">Verus Group, Ltd.</a></footer>
</div>