body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(18, 105, 197);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

h1 {
  font-size: 3.5rm;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  text-shadow: 2px 2px 2px;
  color: white;
}

img {
  height: 250px;
  width: 250px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.8);
  border-radius: 75px;
  -webkit-animation: spin 2s linear;
  -moz-animation: spin 2s linear;
  animation: spin 2s linear;
  animation: spin 2s linear;
}

.devoured {
  display: flex;
  flex-direction: column;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  padding-left: 2rem;
  border: 3px solid black;
  border-radius: 2rem;
  width: 37rem;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.8);
}

.undevoured {
  display: flex;
  flex-direction: column;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  padding-left: 2rem;
  border: 3px solid black;
  border-radius: 2rem;
  width: 37rem;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.8);
}

#add-section {
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  border-radius: 2rem;
  height: auto;
  width: 37rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.8);
}

ol {
  margin-left: -1.2rem;
  border: 10px;
}

button {
  justify-content: center;
  width: 100px;
  border-radius: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 10px 0 rgba(0, 0, 0, 0.5);
}

li {
  padding-top: 0.5rem;
}

li button {
  float: right;
  margin-right: 2em;
}

.form-group button {
  float: right;
  margin-right: 1.7rem;
}

.form-group input {
  width: 15rem;
}

.create-form {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 37rem;
}
